.calendar {
  max-width: 344px;
  margin: 0px auto;
}

.calendar_day {
  width: 9%;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.calendar_day:hover {
  background-color: #808080;
  color: white;
  cursor: pointer;
}

.calendar_day_header {
  background-color: #808080;
  color: white;
}

.calendar_day_empty {
  width: 9%;
  line-height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.calendar_day_special {
  background-color: #808080;
  box-shadow: 0px 2px 1px 0px black;
}

.months {
  text-align: center;
  width: 100%;
  overflow: hidden;
  color: red;
}

.month {
  color: red;
  cursor: pointer;
  display: inline-block;
  margin: 15px;
  text-decoration: underline;
}
