body {
  background-color: #ffffcc;
  color: #fff;
  font-family: Verdana, Arial;
  font-size: 1.1em;
}

.title {
  display: inline-block;
  margin: 15px;
  text-align: center;
  width: 100%;
  font-size: 22px;
  overflow: hidden;
  color: black;
}

.calendar_js {
  max-width: 600px;
  margin: 0px auto;
}

.calendar_js-empty {
  width: 8%;
  font-size: 22px;
  line-height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.calendar_js-day {
  width: 8%;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 22px;
  line-height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.day_header {
  background-color: #808080;
}

.special_js {
  background-color: #808080;
  box-shadow: 0px 2px 1px 0px black;
}

.calendar_js-day:hover {
  background-color: #808080;
  color: white;
  cursor: pointer;
}

.calendar_months {
  text-align: center;
  width: 100%;
  overflow: hidden;
  color: gray;
}

.month {
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  text-decoration: underline;
}
